body {
	box-sizing: border-box;
	margin: 0;
	font-size: 62.5%;
}

/******************************************
/* NAVBAR
/*******************************************/

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 40px;
}

.left-nav {
	display: flex;
	gap: 15px;
}

.logo {
	width: 45px;
}

.left-nav a {
	text-decoration: none;
	font-size: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(76, 76, 76);
}

.donate {
	background-color: #e58bae;
	border: none;
	border-radius: 15px;
	padding: 6px 17px;
	font-size: 0.9rem;
	color: white;
}

/******************************************
/* MAIN
/*******************************************/

.top {
	background-color: #e2f9ff;
}

.top main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 70px;
	color: rgb(76, 76, 76);
}

.top h1 {
	font-size: 2.7rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 20px;
	text-align: center;
}

.top p {
	font-size: 1.5rem;
	width: 60%;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-video {
	font-size: 1.3rem;
	padding: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	align-items: center;
	gap: 15px;
	text-decoration: none;
	color: rgb(76, 76, 76);
}

.play-button {
	width: 25px;
}

/******************************************
/* WHY SECTION
/*******************************************/

.why {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(76, 76, 76);
}

.why h2 {
	font-size: 2rem;
	text-transform: uppercase;
}

.why p {
	font-size: 1.4rem;
	width: 55%;
	text-align: center;
}

/******************************************
/* VOTING SECTION
/*******************************************/

.voting {
	display: flex;
	padding: 80px 200px;
	gap: 70px;
	background-color: #f5d8e3;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(49, 49, 49);
	text-align: center;
}

.voting section {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.voting h3 {
	font-size: 2rem;
	margin: 20px 0 10px 0;
	text-transform: uppercase;
}

.voting p {
	font-size: 1.2rem;
	margin: 0;
}

.voting img {
	width: 100%;
}

.voting button {
	margin: 20px 0;
	padding: 8px 30px;
	background-color: #8a59cb;
	border: none;
	border-radius: 5px;
	font-size: 0.8rem;
	color: white;
	font-weight: 600;
}

/******************************************
/* COMMENTS SECTION
/*******************************************/

.comments {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(76, 76, 76);
	padding: 80px 25%;
}

.comments h2 {
	font-size: 2rem;
	text-transform: uppercase;
}

.comments p {
	font-size: 1rem;
}

.comments button {
	border-style: none;
	background-color: #e58bae;
	border-radius: 20px;
	padding: 8px 20px;
	font-size: 0.8rem;
	margin-top: 15px;
	color: white;
	font-weight: 500;
}
