body {
	box-sizing: border-box;
	margin: 0;
	font-size: 62.5%;
}

/******************************************
/* NAVBAR
/*******************************************/

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 40px;
}

.left-nav {
	display: flex;
	gap: 15px;
}

.logo {
	width: 45px;
}

.left-nav a {
	text-decoration: none;
	font-size: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #efefe5;
}

.donate {
	background-color: #b64642;
	border: none;
	border-radius: 15px;
	padding: 6px 17px;
	font-size: 0.9rem;
	color: #efefe5;
}

/******************************************
/* MAIN
/*******************************************/

.top {
	background-color: #191918;
}

.top main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 70px;
	color: #efefe5;
}

.top h1 {
	font-size: 2.7rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 20px;
	text-align: center;
}

.top p {
	font-size: 1.5rem;
	width: 60%;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-video {
	font-size: 1.3rem;
	padding: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	align-items: center;
	gap: 15px;
	text-decoration: none;
	color: #efefe5;
}

.play-button {
	width: 25px;
}

/******************************************
/* WHY SECTION
/*******************************************/

.why {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 65px 0 100px 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #efefe5;
	background-color: #b64642;
}

.why h2 {
	font-size: 2rem;
	text-transform: uppercase;
	color: #191918;
}

.why p {
	font-size: 1.4rem;
	width: 55%;
	text-align: center;
}

/******************************************
/* VOTING SECTION
/*******************************************/

.voting {
	display: flex;
	padding: 80px 5% 60px 5%;
	gap: 10%;
	background-color: #efefe5;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #5f5d5a;
	text-align: center;
}

.voting section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
}

@media all and (min-width: 901px) {
	.voting {
		padding: 80px 15% 60px 15%;
	}
}

.voting h3 {
	font-size: 1.6rem;
	margin: 20px 0 10px 0;
	text-transform: uppercase;
}

.voting p {
	font-size: 1.1rem;
	margin: 0;
	width: 90%;
}

.voting img {
	width: 100%;
}

.voting button {
	margin: 20px 0;
	padding: 8px 30px;
	background-color: #191918;
	border: none;
	border-radius: 5px;
	font-size: 0.9rem;
	color: #efefe5;
	font-weight: 600;
}

/******************************************
/* COMMENTS SECTION
/*******************************************/

.comments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #efefe5;
	background-color: #191918;
	padding: 60px 0 90px 0;
}

.comments h2 {
	font-size: 2rem;
	text-transform: uppercase;
}

.comments p {
	font-size: 1rem;
	width: 60%;
	line-height: 20px;
}

.comments button {
	border-style: none;
	background-color: #b64642;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 0.9rem;
	margin-top: 30px;
	color: white;
	font-weight: 500;
}

/******************************************
/* FOOTER
/*******************************************/

footer {
	background-color: #b64642;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 0.7rem;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	margin: 0 50px;
	border-bottom: 1px white solid;
}

.footer-bleft {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer-bleft a {
	text-decoration: none;
	color: rgb(6, 6, 6);
	font-weight: 600;
}

.bottom-menu {
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-weight: 500;
}

.options {
	display: flex;
	gap: 20px;
}

.footer-bright {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer-bright .address {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.footer-bbottom {
	padding: 20px 50px;
	padding-bottom: 30px;
}
